language: java
jdk:
  - oraclejdk11

script:
  - cd complete
  - mvn package
  - zip -r latest *
  - mkdir -p dpl_cd_upload
  - mv latest.zip dpl_cd_upload/latest.zip

cache:
  directories:
    - '/root/.m2/**/*'

deploy:
- provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  local_dir: dpl_cd_upload
  skip_cleanup: true
  on: &2
    repo: SimplQ/simplQ-backend
  bucket: codepipeline-ap-southeast-1-475863761977
  region: ap-southeast-1
- provider: codedeploy
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: codepipeline-ap-southeast-1-475863761977
  key: latest.zip
  bundle_type: zip
  application: Travis-SimplQ-CodeDeploy
  deployment_group: Travis-SimplQ-CodeDeploy-Deployment-Group
  region: ap-southeast-1
  on: *2
